@media all and (max-width : 930px) {
  .other-services ul
  {
    display: block;
  }

  .other-services li
  {
    display: block;
    float: left;
    width: 33.33%;
    margin-bottom: 12px;
  }
}



@media all and (max-width : 800px) {
  .hero p
  {
    font-size: 18px;
    margin: 36px 0 18px 0;
  }

  .hero strong
  {
    font-size: 28px;
  }

  .module h1 span
  {
    display: none;
  }

  .checkbox-list, 
  .checkbox-list li
  {
    font-size: 14px;
  }
}



@media all and (max-width : 600px) {
  body
  {
    padding-top: 97px;
  }

  h1
  {
    margin: 0 0 16px 0;
    padding-top: 0;
  }

  h2
  {
    margin: 0 0 16px 0;
  }

  .wrapper
  {
    padding: 16px;
  }

  .header
  {
    height: 97px;
  }

  .header .logo
  {
    padding: 8px 16px;
    float: none;
    display: block;
    text-align: center;
  }

  .header .logo img
  {
    width: 86px;
    margin: 0 auto;
  }

  .navigation
  {
    float: none;
    display: block;
    clear: both;
    border-top: 1px solid #eee;
  }

  .navigation a
  {
    margin-left: 0;
    padding: 8px;
    text-align: center;
    width: 33.33%;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 23px;
  }

  .hero p
  {
    margin: 20px 0 0 0;
  }

  .hero strong
  {
    font-size: 28px;
    line-height: 1.2em;
  }

  .modules.wrapper
  {
    display: block;
    padding-top: 16px;
  }

  .module,
  .module + .module
  {
    float: none;
    width: auto;
    margin: 0 0 16px 0;
  }

  .module h1
  {
    padding: 16px;
  }

  .mod-content
  {
    padding: 16px;
  }

  .mod-content a.btn
  {
    margin-top: 16px;
  }

  .other-services
  {
    margin-top: 0;
    padding-top: 0;
  }

  .other-services ul
  {
    margin: 16px 0;
  }

  .other-services li
  {
    width: 50%;
    text-align: left;
  }

  .other-services li:nth-child(even)
  {
    text-align: right;
  }

  .about img
  {
    width: 33%;
    float: right;
    margin: 6px 0 16px 16px;
  }

  .about p
  {
    float: none;
    width: auto;
  }

  .half,
  .half + .half
  {
    float: none;
    width: auto;
    display: block;
    margin: 0 0 16px 0;
    text-align: left;
  }

  .half + .half
  {
    margin: 36px 0 0 0;
  }

  .half:after
  {
    display: block;
    content: '';
    clear: both;
  }

  .half img
  {
    margin: 24px auto 8px;
    display: block;
    width: 30%;
  }

  .checkbox-list, 
  .checkbox-list li
  {
    font-size: inherit;
  }

  input[type="submit"]
  {
    float: none;
    max-width: none;
    width: 100%;
  }

  .social-links
  {
    margin: 0;
  }

  .social-links a
  {
    position: relative;
    padding: 0;
    padding: 8px 0 8px 38px;
    border-bottom: 1px solid #366cad;
    display: block;
    margin: 0;
  }

  .social-links .icon
  {
    width: 21px;
    position: absolute;
    top: 50%;
    left: 0;
    padding: 0;
    margin: -9px 16px 0 0;
    float: none;
  }

  body.scrolled
  {
    padding-top: 97px;
  }

  .scrolled .header
  {
    height: 97px;
  }

  .scrolled .header .logo img + img
  {
    margin-top: 0;
  }

  .scrolled .navigation a
  {
    padding: 8px;
    line-height: 23px;
  }
}
